*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* header section style */
.nav-item{
  display: flex;
  background-color: #412567;
  justify-content: space-between;
  padding: 16px 200px;
  align-items: center;
  color: #FFFFFF;
  
  
}
.nav-link{
  display: flex;
  list-style: none;
  gap: 30px;

}
.nav-link a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
}
.btn{
  width: 135px;
  border-radius: 20px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  background-image: linear-gradient(90deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

/* hero section style */
.hero img{
  
}